# Kickoff

First approach to the problem

## Imports

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('datasets/train.csv')

In [5]:
df.shape

(600000, 102)

In [4]:
df.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,target
0,0,0.106643,3.59437,132.8040,3.18428,0.081971,1.18859,3.73238,2.266270,2.09959,...,1.09862,0.013331,-0.011715,0.052759,0.065400,4.211250,1.97877,0.085974,0.240496,0
1,1,0.125021,1.67336,76.5336,3.37825,0.099400,5.09366,1.27562,-0.471318,4.54594,...,3.46017,0.017054,0.124863,0.154064,0.606848,-0.267928,2.57786,-0.020877,0.024719,0
2,2,0.036330,1.49747,233.5460,2.19435,0.026914,3.12694,5.05687,3.849460,1.80187,...,4.88300,0.085222,0.032396,0.116092,-0.001688,-0.520069,2.14112,0.124464,0.148209,0
3,3,-0.014077,0.24600,779.9670,1.89064,0.006948,1.53112,2.69800,4.517330,4.50332,...,3.47439,-0.017103,-0.008100,0.062013,0.041193,0.511657,1.96860,0.040017,0.044873,0
4,4,-0.003259,3.71542,156.1280,2.14772,0.018284,2.09859,4.15492,-0.038236,3.37145,...,1.91059,-0.042943,0.105616,0.125072,0.037509,1.043790,1.07481,-0.012819,0.072798,1

In [6]:
df.describe()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,target
count,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,...,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000
mean,299999.500000,0.306508,2.497590,306.644536,2.647901,0.177850,2.556832,2.699650,2.571593,2.538273,...,2.444471,0.155260,0.059407,0.144932,0.106419,2.547853,2.590159,0.158881,0.123048,0.506010
std,173205.225094,0.522450,1.554018,551.743893,1.544529,0.417488,1.562527,1.564000,1.549361,1.532988,...,1.542509,0.548397,0.119426,0.462015,0.209128,1.558427,1.525091,0.436190,0.264896,0.499964
min,0.000000,-3.797450,-1.223960,-1842.530000,-1.368560,-3.206210,-1.169770,-1.059310,-1.281970,-1.242020,...,-1.217700,-9.761770,-4.666240,-3.101500,-1.276540,-1.584740,-1.254730,-3.993500,-2.783380,0.000000
25%,149999.750000,0.026222,1.186237,43.573400,1.442028,0.019709,1.261038,1.385820,1.333848,1.292163,...,1.214177,0.018904,0.024483,0.017055,0.025461,1.247888,1.348078,0.013536,0.018105,0.000000
50%,299999.500000,0.097788,2.516500,133.626000,2.634130,0.061586,2.590425,2.801255,2.557985,2.475880,...,2.386845,0.068906,0.056649,0.063439,0.062151,2.601940,2.682090,0.058058,0.058471,1.000000
75%,449999.250000,0.397184,3.787630,302.262250,3.907640,0.112712,3.813662,3.996913,3.823450,3.804360,...,3.693872,0.125165,0.088162,0.113114,0.102016,3.820665,3.839520,0.110718,0.104872,1.000000
max,599999.000000,8.781500,6.226720,6119.280000,6.521150,8.265470,6.515070,6.586780,6.258770,6.389670,...,6.573890,18.412800,10.211800,8.623270,3.657220,6.254360,6.145300,10.767000,5.988110,1.000000

### Equilibrado?

Sí

In [28]:
df.iloc[:, -1].mean() #

0.50601

### Primer modelo

In [7]:
from sklearn.model_selection import train_test_split

In [16]:
X = df.iloc[:, 1:-1]
y = df.iloc[:, -1]

(600000,)

In [45]:
features = X.columns
features

Index(['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20',
       'f21', 'f22', 'f23', 'f24', 'f25', 'f26', 'f27', 'f28', 'f29', 'f30',
       'f31', 'f32', 'f33', 'f34', 'f35', 'f36', 'f37', 'f38', 'f39', 'f40',
       'f41', 'f42', 'f43', 'f44', 'f45', 'f46', 'f47', 'f48', 'f49', 'f50',
       'f51', 'f52', 'f53', 'f54', 'f55', 'f56', 'f57', 'f58', 'f59', 'f60',
       'f61', 'f62', 'f63', 'f64', 'f65', 'f66', 'f67', 'f68', 'f69', 'f70',
       'f71', 'f72', 'f73', 'f74', 'f75', 'f76', 'f77', 'f78', 'f79', 'f80',
       'f81', 'f82', 'f83', 'f84', 'f85', 'f86', 'f87', 'f88', 'f89', 'f90',
       'f91', 'f92', 'f93', 'f94', 'f95', 'f96', 'f97', 'f98', 'f99'],
      dtype='object')

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=42, stratify=y)

In [18]:
from sklearn.linear_model import SGDClassifier

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [23]:
sgd_clf_pl = Pipeline([
    ('std', StandardScaler()),
    ('sgd_clf', SGDClassifier(random_state=42))
])

In [24]:
from sklearn.model_selection import cross_val_score

In [27]:
cross_val_score(sgd_clf_pl, X_train, y_train, cv=5, scoring='accuracy')

array([0.71185417, 0.71347917, 0.71254167, 0.706375  , 0.708125  ])

In [41]:
from sklearn.model_selection import cross_val_predict

y_scores = cross_val_predict(sgd_clf_pl, X_train, y_train, cv=5)

In [31]:
from sklearn.metrics import confusion_matrix

In [43]:
conf_mat = confusion_matrix(y_train, y_scores)
conf_mat

array([[165621,  71494],
       [ 67478, 175407]], dtype=int64)

In [39]:
from sklearn.metrics import roc_auc_score

In [42]:
roc_auc_score(y_train, y_scores)

0.710332568624887

In [50]:
sgd_clf_pl.fit(X, y)

Pipeline(steps=[('std', StandardScaler()),
                ('sgd_clf', SGDClassifier(random_state=42))])

In [65]:
def create_submission(pipeline, features):
    sub_data = pd.read_csv('datasets/test.csv', index_col=0)
    X = sub_data[features]
    preds = pipeline.predict(X)
    sub_df = pd.DataFrame(data={'id':sub_data.index, 'target':preds})
    sub_df.to_csv('fst_submission.csv', index=False)

In [66]:
create_submission(sgd_clf_pl, features)

In [58]:
sub_data = pd.read_csv('datasets/test.csv', index_col=0)

sub_data.index

Int64Index([ 600000,  600001,  600002,  600003,  600004,  600005,  600006,
             600007,  600008,  600009,
            ...
            1139990, 1139991, 1139992, 1139993, 1139994, 1139995, 1139996,
            1139997, 1139998, 1139999],
           dtype='int64', name='id', length=540000)

In [63]:
pd.DataFrame(data={'id':sub_data.index})

             id
0        600000
1        600001
2        600002
3        600003
4        600004
...         ...
539995  1139995
539996  1139996
539997  1139997
539998  1139998
539999  1139999

[540000 rows x 1 columns]